// ====================================================================================================
.header {
	background: #516c81;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		height: 100px;
		@media (max-width: 991px) {
			justify-content: space-between;
		}
		@media (max-width: 410px) {
			@include adaptiv-value('height', 80, 70, 1);
		}
	}

	&__logo {
		position: relative;
		z-index: 2;
		width: 289px;
		img {
			width: 100%;
			height: 100%;
		}
		// @media (max-width: $md3+px) {
		// 	position: absolute;
		// 	left: 50%;
		// 	top: 50%;
		// 	transform: translate(-50%, -50%);
		// }
	}

	// .header__button

	&__button {
		position: relative;
		cursor: pointer;
		@media (max-width: $md2+px) {
			margin-right: 80px;
		}
		@media (max-width: 630px) {
			.header__btn {
				display: none;
			}
			&::before {
				content: '';
				position: absolute;
				background: url('../../img/icons/phone-call.svg') 0 0 no-repeat;
				width: 30px;
				height: 30px;
				top: -12px;
				right: -35px;
			}
		}
	}
}

.menu {
	flex: 1 1 auto;
	padding: 0 0 0 112px;
	@media (max-width: 1160px) {
		padding-left: 40px;
	}
	@media (max-width: 991px) {
		flex: 0 0 auto;
	}
	&__body {
		@media (max-width: 991px) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			padding: 130px 0 20px 0;
			overflow: auto;
			text-align: center;
			background-color: rgba(28, 36, 42, 0.98);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			&::after {
				content: '';
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 100px;
				background-color: #516c81;
			}
			&._active {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__list {
		display: flex;
		li {
			margin: 0 30px;
			&:first-child {
				margin-left: 0;
			}
			// &:last-child {
			// 	margin-right: 0;
			// }
			@media (max-width: 1150px) {
				margin: 0 20px;
			}
			@media (max-width: 799px) {
				margin: 0 10px;
			}
		}
		@media (max-width: 991px) {
			display: block;
			text-align: center;
			li {
				margin-bottom: 30px;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	&__item {
	}
	&__link {
		@include adaptiv-value('font-size', 16, 14, 1);
		font-weight: 500;
		color: var(--color-white);
		transition: color 0.3s ease 0s;
		// &._active {
		// 	color: var(--color-white);
		// }
		@media (min-width: 992px) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: 991px) {
			font-size: 24px;
		}
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: 991px) {
		display: block;
		position: absolute;
		top: 40px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
	@media (max-width: 410px) {
		top: 25px;
	}
}
