.hero {
	@include adaptiv-value('padding-top', 176, 100, 1);
	padding-bottom: 10px;
	background: url('../img/hero-bg.jpg') center / cover no-repeat;
	// min-height: 800px;

	// .hero__rows

	&__rows {
		display: flex;
		flex-direction: column;
	}
}

.hero-row {
	flex: 1 1 100%;
}
.row-right {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 75px;
	@media (max-width: 620px) {
		margin-bottom: 30px;
	}
	// .row-right__wrapper

	&__wrapper {
	}

	// .row-right__text

	&__text {
		max-width: 390px;
		text-align: right;
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		text-transform: uppercase;
		@media (max-width: 620px) {
			font-size: 17px;
		}
		@media (max-width: 375px) {
			font-size: 15px;
		}
	}
}

.row-center {
	display: flex;
	justify-content: center;
	// .row-center__wrapper

	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		max-width: 550px;
		margin-top: 22px;

		&::before {
			content: '';
			position: absolute;
			top: -21px;
			right: -24px;
			border-style: solid;
			border-width: 0 508px 508px 0;
			border-color: transparent #f07f18 transparent transparent;
		}
		@media (max-width: 620px) {
			&::before {
				border-width: 0 420px 420px 0;
			}
		}
		@media (max-width: $md4+px) {
			&::before {
				border-width: 0 300px 300px 0;
			}
		}
	}

	// .row-center__content

	&__content {
		position: relative;
		z-index: 2;
	}

	// .row-center__title

	&__title {
		margin-bottom: 26px;
		text-align: right;
		font-family: 'Playfair';
		font-size: 48px;
		line-height: 140%;
		text-transform: uppercase;
		@media (max-width: 620px) {
			font-size: 35px;
		}
		@media (max-width: $md4+px) {
			@include adaptiv-value('font-size', 35, 25, 1);
		}
	}

	// .row-center__descr

	&__descr {
		margin-bottom: 80px;
		padding-left: 90px;
		text-align: right;
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		@media (max-width: 620px) {
			margin-bottom: 50px;
			font-size: 18px;
		}
		@media (max-width: $md4+px) {
			font-size: 16px;
		}
	}

	// .row-center__button

	&__button {
		text-align: right;
		@media (max-width: $md4+px) {
			margin-bottom: 20px;
		}
	}
}
.row-left {
	// .row-left__wrapper

	&__wrapper {
		position: relative;
		left: -3px;
		top: -91px;
		@media (max-width: 620px) {
			top: -10px;
		}
	}

	// .row-left__text

	&__text {
		position: relative;
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		text-transform: uppercase;
		margin-bottom: 53px;
		width: 309px;

		&::before {
			content: '';
			position: absolute;
			bottom: -32px;
			left: 0;
			width: 310px;
			height: 11px;
			background-color: #fff;
		}
		@media (max-width: 620px) {
			font-size: 18px;
		}
		@media (max-width: $md4+px) {
			font-size: 16px;
		}
	}

	// .row-left__descr

	&__descr {
		width: 309px;
		font-weight: 600;
		font-size: 14px;
		line-height: 150%;
		@media (max-width: $md4+px) {
			font-size: 12px;
		}
	}
}
