.partners {
	@include adaptiv-value('padding-top', 100, 50, 1);
	padding-bottom: 36px;
	background-color: #fff;
	// .partners__container

	&__container {
	}

	// .partners__top

	&__top {
		display: flex;
		justify-content: space-between;
		@include adaptiv-value('margin-bottom', 100, 30, 1);
		@media (max-width: 680px) {
			flex-direction: column;
		}
	}

	// .partners__title

	&__title {
		@media (max-width: 680px) {
			margin-bottom: 20px;
		}
	}

	// .partners__descr

	&__descr {
		max-width: 310px;
		text-align: right;
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		color: var(--color-main);
		@media (max-width: 680px) {
			text-align: left;
		}
	}

	// .partners__body

	&__body {
		display: flex;
		padding-top: 12px;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	// .partners__item

	&__item {
		padding: 0 42px;
		@include adaptiv-value('margin-bottom', 95, 30, 1);
	}
}
