.projects {
	background: var(--color-main);
	@include adaptiv-value('padding-bottom', 100, 80, 1);
	// .projects__container

	&__container {
	}

	// .projects__title

	&__title {
		margin-bottom: 70px;
	}

	// .projects__gallery

	&__gallery {
	}

	// .projects__button

	&__button {
		text-align: center;
	}

	// .projects__btn

	&__btn {
	}
}

.gallery-projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
	grid-column-gap: 20px;
	grid-row-gap: 39px;
	justify-items: stretch;
	padding-bottom: 55px;
	margin-bottom: 25px;
	@media (max-width: 906px) {
		justify-items: center;
	}

	// .gallery-projects__item
	&__item {
		position: relative;
		max-width: 289px;
		text-align: center;
		&::before {
			content: '';
			position: absolute;
			top: 11px;
			right: -2px;
			width: 279px;
			height: 250px;
			background: #f07f18;
		}
	}

	// .gallery-projects__image

	&__image {
		max-width: 279px;
		margin-bottom: 26px;
		img {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
	}

	// .gallery-projects__text

	&__text {
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
	}
}
